footer {
    position: absolute;
    bottom: 0%;
    width: 70%;
    background-color: #383D41;
    height: 37px;
    display: flex;
    .telefono-iconos{
        display: flex;
        justify-content: center;
        color: #AD9863;
        font-size: 20px;
        margin: auto;  
        .icons {
            margin-left:25px;
            font-size: 20px;
        }  
    }
}

.telefono-iconos p a {
    margin: auto;
}

