* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --color-button: #03faee;
    --color-header: #f8f8f8;
    --color-boxes: #8b8b8b;
    --color-shadow: #92f7f2;
}


@mixin buttons() {
    width: 110px;
    height: 50px;
    color: var(--color-boxes);
    background-color: var(--color-shadow);
    border: 0.2px solid black;
    border-radius: 5px;
    &:hover {
        animation: movimiento 0.5s linear;
        background-color: var(--color-button);
        color: black;
    }
}

@keyframes movimiento {
    0%{
        transform: translateY(0)
    }
    50% {
        transform: translateY(5px)
    }
    100% {
        transform: translateY(0)
    }
}

@mixin boxes {
    background-color: var(--color-header);
    width: 30%;
    max-width: 350px;
    min-width: 349px;
    padding:20px 25px 50px;
    margin: 30px 30px;
    border-radius: 10px;
    .number {
        font-size: 1.1rem;
        border: 0.5px solid black;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 50px;
        width: 50px;
        box-shadow: var(--color-button) -5px 0px 0px;
        margin-bottom: 15px;
        &:hover {
            animation: sombras 1s linear;
        }
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        display: inline-block;
        &::first-letter{  
        box-shadow: var(--color-button) 0px 15px 0px 0px inset;
        font-size: 1.6rem;
    }    
    }
    .text-box {
        line-height: 25px;
    }    
    &:hover {
        animation: movimiento 0.5s linear;
        box-shadow: var(--color-boxes) 5px 5px 5px;
    }
}

@keyframes sombras {
    0%{
        box-shadow: var(--color-button) -5px 0px 0px;
    }
    50% {
        box-shadow: var(--color-button) 7px 0px 0px;
    }
    100% {
        box-shadow: var(--color-button) -5px 0px 0px;
    }
}

.algo {
    @include buttons
}

.number-boxes {
    @include boxes
}